body {
  background-color: #0f0f0f;
}
#kon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
img {
  border-radius: 30px;
}
h3 {
  color: #fafafa;
}
#dislike:hover {
  background-color: rgb(179, 73, 73);
}
#like:hover {
  background-color: rgb(55, 146, 87);
}
#like {
  width: 50px;
  height: 30px;
  background-color: rgb(24, 199, 59);
  border: none;
}
#dislike {
  width: 50px;
  height: 30px;
  background-color: rgb(212, 14, 14);
  border: none;
}
a {
  display: block;
  width: 140px;
  height: 20px;
  padding: 5px;
  background-color: #fafafa;
  border: 1px blue solid;
  border-radius: 5px;
  color: black;
  margin: 0 auto;
}
