* {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: pink;
}

#container {
  background-color: gray;
  width: 600px;
  height: 600px;
  text-align: center;
  padding: 50px;
}

#rock {
  width: 200px;
  height: 200px;
  border: 2px pink solid;
}

.guzik {
  border: 2px pink solid;
  padding: 5px;
  text-align: center;
  font-size: 1.2em;
  color: white;
}
