* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

header {
  width: 100%;
  background-color: #dcdcdc;
  padding: 20px;
  text-align: center;
}

nav {
  display: flex;
}
#lewy1,
#prawy1 {
  width: 50%;
  background-color: #ff7f50;
  height: 410px;
  color: white;
}

#lewy1 {
  display: flex;
  flex-direction: column;
}

#samochod {
  height: 250px;
}

main {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #dcdcdc;
}

footer {
  display: flex;
}

#lewy2,
#prawy2 {
  background-color: #ff7f50;
  color: white;
  width: 50%;
  height: 100px;
}

a {
  color: white;
}

table,
td {
  border: 1px solid #ff7f50;
  padding: 10px;
  text-align: center;
}

table {
  margin: 20px auto;
  margin-bottom: 0px;
}
