*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2F3336;
}
#container{
    margin: 0 auto;
    text-align: center;

}

#tytul{
    margin-top: 50px;
    color: #DBDDDC;
    font-family: sans-serif;
    letter-spacing: 1px;
}

nav{
    width: 100%;
    background-color: #1C74B3;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav li{
    display: flex;
    list-style-type: none;
    height:50px;
    text-align: center;
    align-items: center;
}
nav li:hover{
    opacity: 0.5;
    cursor: pointer;
}
nav a{
    text-decoration: none;
    color: white;
}

h1{
    color: #38A5F0;
}

p{
    color: white
}

#filozofowie{
    display: grid;
    width: 50%;
    margin: 0 auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "watts de-mello nietzsche"
    "platon kant emerson";
}
figure figcaption{
    color: white;
}
#watts{
    grid-area: watts
}
#de-mello{
    grid-area: de-mello
}
#nietzsche{
    grid-area: nietzsche;
}
#platon {
    grid-area: platon;
}
#kant {
    grid-area: kant;
}
#emerson{
    grid-area: emerson;
}

#wpisy{
    background-color: #191C21;
    padding: 50px
}

#wpisy h3 {
    color:#38A5F0;
}

.filozofwpisy {
    background-color: #2F3336;
    margin: 20px;
    width: 60%;
    padding: 20px;
}
.filozofwpisy img {
    width: 150px;
}

.filozofwpisy figure {
    display: flex;
}

#kontakt{
    padding: 30px;
}

input[type=submit]{
    width: 200px;
    height: 50px;
    background-color: #1C74B3;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.1em;
}

#socjale{
    background-color: #191C21;
    padding: 30px;

}
span{
    color: white;
    font-size: 6em;
    padding: 30px;
}

footer{
    color: white;
    padding: 20px;
}





